/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --first-color: #fe8019;
  --first-color-alt: #c26213;
  --first-color-send: #fe8019;
  --subtitle-color: #fe8019;
  --title-color: #1d2021;
  --text-color: #5b5757;
  --text-color-light: #8f8a8a;
  --body-color: #fefbfb;
  --container-color: #fff;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --logo-font: "Homemade Apple";
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  @media screen and (min-width: 968px) {
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }

  /*========== Font weight ==========*/
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Margenes ==========*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== BASE ==========*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*========== variables Dark theme ==========*/
body.dark-theme {
  --first-color-send: #1d2021;
  --title-color: #f3f1f1;
  --text-color: #d1c7c8;
  --body-color: #374045;
  --container-color: #c26213;
  --subtitle-color: #d1c7c8;
}

/*========== Button Dark/Light ==========*/
.change-theme {
  position: absolute;
  right: 1.5rem;
  top: 2.2rem;
  display: flex;
  color: var(--title-color);
  font-size: 2rem;
  cursor: pointer;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}
h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

/*========== CLASS CSS ==========*/
.section {
  padding: 4rem 0 2rem;

  &-title,
  &-title-center {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    text-align: center;
    margin-bottom: var(--mb-3);
  }
}

/*========== LAYOUT ==========*/
.l-main {
  overflow: hidden;
}
.bd-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*========== NAV ==========*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu {
    @media screen and (max-width: 768px) {
      position: fixed;
      top: -100%;
      left: 0;
      right: 0;
      width: 90%;
      margin: 0 auto;
      padding: 2.5rem 0 0;
      text-align: center;
      background-color: var(--body-color);
      transition: 0.4s;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
      border-radius: 2rem;
      z-index: var(--z-fixed);
    }
  }
  &__item {
    margin-bottom: var(--mb-3);
  }
  &__link,
  &__logo,
  &__toggle {
    color: var(--title-color);
    font-weight: var(--font-bold);
  }
  &__logo {
    &:hover {
      color: var(--first-color);
    }
  }
  &__logo {
    font-family: var(--logo-font);
  }
  &__link {
    transition: 0.3s;

    &:hover {
      color: var(--first-color);
    }
  }
  &__toggle {
    font-size: 1.3rem;
    cursor: pointer;
  }
}

/* Show menu */
.show-menu {
  top: calc(var(--header-height) + 1rem);
}

/* Active menu link */
.active-link {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -0.75rem;
    left: 45%;
    width: 5px;
    height: 5px;
    background-color: var(--title-color);
    border-radius: 50%;
  }
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

/* Scroll top */
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background: rgba(254, 128, 25, 0.8);
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  visibility: hidden;

  &:hover {
    background-color: var(--first-color);
  }

  &__icon {
    font-size: 1.5rem;
    color: var(--body-color);
  }
}

.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}

/*========== HOME ==========*/
.home {
  &__container {
    row-gap: 0.5rem;
  }
  &__img {
    width: 280px;
    justify-self: center;
  }
  &__title {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
    margin-bottom: var(--mb-2);
  }
  &__description {
    margin-bottom: var(--mb-3);
  }
}

#search_input {
  flex-basis: 95%;
  width: 85%;

  margin: 1px;
  border: none;
  box-shadow: 0px 0px 5px black;
  border-radius: 20px;
  height: 40px;
  padding-left: 40px;
  padding-bottom: 5px;
  font-size: 20px;
  transition: all 300ms;
}
#search_input:focus {
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px black;
}

.card-text {
  background: none;
  padding: 0;
  color: var(--subtitle-color);
}
/*========== BUTTONS ==========*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: var(--font-semi-bold);
  transition: 0.3s;

  &:hover {
    background-color: var(--first-color-alt);
  }

  &-link {
    background: none;
    padding: 0;
    color: var(--first-color);

    &:hover {
      background-color: transparent;
      color: var(--first-color-alt);
    }
  }
}

#btn_buscar {
  width: 85%;
  margin-top: 10px;
  border-radius: 15px;
  text-align: center;
}

/*========== Random ==========*/
.random {
  &__data {
    text-align: center;
  }
  &__description {
    margin-bottom: var(--mb-2);
  }
  &__img {
    width: 280px;
    justify-self: center;
  }
}

/*========== Template One for Cards ==========*/
.templateone {
  &__container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
  &__data {
    text-align: center;
    padding: 1rem 1rem 2rem;
    background-color: var(--container-color);
    box-shadow: 0 2px 6px rgba(194, 98, 19, 0.15);
    border-radius: 1rem;

    &:hover {
      box-shadow: 0 3px 12px rgba(194, 98, 19, 0.15);
    }
  }
  &__img {
    width: 180px;
  }
  &__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
  }
}

#section_titulo {
  #title_section_lista {
    flex-basis: 100%;
  }
  #modal {
    display: none;
    position: fixed;
    z-index: 150;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
  }

  .modal-content {
    position: fixed;
    cursor: initial;
    background-color: white;
    z-index: 200;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    height: 90%;
    display: none;
    top: 6%;
    left: 10%;
    animation-name: modal-open;
    animation-duration: 300ms;
    animation-timing-function: linear;
    border-radius: 20px;
    #image-title-modal {
      width: 97%;
      margin: 20px;
      img {
        width: 100%;
        max-height: 500px;
        box-shadow: 0px 0px 5px black;
      }
      h1 {
        text-align: center;
        margin-top: 20px;
        text-shadow: 0px 0px 30px black;
      }
      h4 {
        text-align: center;
      }
    }
    #body-info-modal {
      width: 95%;
      margin: 20px;
      padding: 5%;
      overflow-y: scroll;

      h2 {
        margin-top: 0px;
        text-shadow: 0px 0px 30px black;
      }
      ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
      p {
        text-align: justify;
        margin-right: 10px;
      }
    }
  }

  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
}

#title_section_lista {
  margin-top: 50px;
  text-align: center;
  margin-bottom: -50px;
}

#section_lista {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  .templateone {
    &__data {
      margin: 20px 10px;
    }
  }
}
#section_titulo_categorias {
  h1 {
    text-align: center;
  }
}
#section_categorias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  .templateone {
    &__data {
      margin: 20px 10px;
    }
  }
}

.receta-sorpresa-container {
  display: flex;
  justify-content: center;
  .receta-sorpresa {
    justify-content: center;
    max-width: 500px;
    .templateone {
      &__container {
        grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
        flex-basis: 12%;
        margin-top: 50px;
        width: 100%;
        height: 100%;
        cursor: pointer;
        border-radius: 10px;
      }

      &__img {
        width: 400px;
        border-radius: 10px;
      }
    }
  }
}
/*========== FOOTER ==========*/
.footer {
  &__container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
  &__logo {
    color: var(--title-color);
  }
  &__title {
    margin-bottom: var(--mb-2);
  }
  &__logo,
  &__title {
    font-size: var(--h3-font-size);
  }
  &__link {
    display: inline-block;
    margin-bottom: 0.75rem;
    color: var(--text-color);

    &:hover {
      color: var(--first-color);
    }
  }
  &__social {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-right: var(--mb-3);

    &:hover {
      color: var(--first-color);
    }
  }
  &__copy {
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    margin-top: 4rem;
  }
}

/*========== MEDIA QUERIES ==========*/
/* For full-screen images on small screens */
@media screen and (max-width: 359px) {
  .home__img,
  .share__img,
  .send__img {
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .home__container,
  .share__container,
  .send__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .home {
    &__container {
      padding: 5rem 0 0;
    }
    &__img {
      order: 1;
    }
  }

  .section-title-center,
  .share__data,
  .send__description {
    text-align: initial;
  }

  .home__img,
  .share__img,
  .send__img {
    width: 100%;
  }

  .share__img {
    order: -1;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 7rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);

    &__list {
      display: flex;
      align-items: center;
    }
    &__item {
      margin-left: var(--mb-5);
      margin-bottom: 0;
    }
    &__toggle {
      display: none;
    }
  }

  .change-theme {
    position: initial;
    margin-left: var(--mb-4);
  }

  .home__container {
    padding: 7rem 2rem 0;
  }

  .share__container {
    padding: 0 2rem;
  }

  .accessory {
    &__container {
      grid-template-columns: repeat(3, 224px);
      justify-content: center;
    }
    &__content {
      padding: 0.5rem 1.5rem 1.5rem;
    }
    &__img {
      width: 120px;
      margin-bottom: var(--mb-1);
    }
    &__title,
    &__category {
      text-align: initial;
    }
    &__button {
      padding: 0.75rem;
    }
  }

  .send {
    background: none;

    &__container {
      background-color: var(--first-color-send);
      padding: 2rem;
      border-radius: 1.5rem;
    }
  }
}

@media screen and (min-width: 968px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .home__img,
  .share__img,
  .send__img {
    width: 469px;
  }

  .home__container,
  .share__container,
  .send__container {
    column-gap: 5rem;
  }
}

@media (max-width: 575px) {
  #section_titulo {
    #modal {
      .close {
        right: 10px !important;
      }
    }
    .modal-content {
      #body-info-modal {
        ul {
          padding: 0 !important;
          list-style: square !important;
          grid-template-columns: none !important;
        }
        p {
          margin-right: 0 !important;
        }
      }
    }
  }
}
