//Animaciones
@import './animations.scss';
//Fuentes
@import './fuentes.scss';
//Colores
@import './colors.scss';


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    // list-style: none;
}

.closed{
    animation-name: modal-close ;
    animation-duration: 300ms;
    animation-timing-function: linear;
}

body{
    background-color: $color-de-fondo-secundario;
    width: 100%;
    #header{
        background-color: $color-principal;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        height: 70px;
        align-items: center;
        justify-content:space-between ;
        padding-left: 50px;
        padding-right: 50px;
        z-index: 1;
        #logo{
            border-radius: 60px;
            padding: 5px;
            border: 2px solid #ffffff;


            img{
                height: 40px;
            }
        }
        
            #menu{
                flex-basis: 80%;
                display: flex;
                flex-direction: row;
                align-items:center;
                list-style: none;
                justify-content: flex-end;
                margin: 0;
                li{
                    padding: 10px;
                    a{
                        background-color: $color-principal-amarillo;
                        color: white;
                        padding: 7px 17px;
                        text-decoration: none;
                        display: block;
                        border-radius: 10px;
                        font-size: 20px;
                        transition: all 300ms;
                    }
                    a:hover{
                        transform: scale(1.2);
                        box-shadow: 0px 0px 5px black;
                    }
            }
        }   
    }
    #main{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 95%;
        align-items: center;
        margin: 10px 50px;
        
        margin-top: 50px;
        #section_buscar{
            flex-basis: 100%;
            margin: 25px auto;
            .baner-imagen{
                z-index: -1;
                margin-bottom: -50px;
                img{
                    margin-top: 100px;
                    margin-left: 50%;
                }

            }
            h1{
                font-size: 50px;
            }
            #form-fake{
                display: flex;
                flex-wrap: wrap;
                width:40%;

                label{
                    flex-basis: 1%;
                    font-family: "WebSymbolsRegular";
                    margin: 7px;
                    position:absolute;
                    left:85px;
                }
                input{
                    flex-basis: 95%;
                    margin: 1px;
                    border: none;
                    border-radius: 20px;
                    height: 40px;
                    padding-left: 40px;
                    padding-bottom: 5px;
                    font-size: 20px;
                    transition: all 300ms;
                }
                input:focus{
                    border: none;
                    
                    
                    outline: none;
                    box-shadow: 0px 0px 5px black;
                }
                button{
                    flex-basis: 95%;
                    margin-top: 10px;
                    border-radius: 15px;
                    background-color: $color-principal;
                    border: none;
                    transition: all 300ms;
                }
                button:hover{
                    transform: scale(1.05);
                    box-shadow: 1px 1px 20px white ;
                }
            }
            #div_recipe_random{
                width: 40%;
                display: flex;
                justify-content: center;
                .receta-sorpresa{
                    max-width: 300px;
                }
            }
           
        }
        #section_titulo{
            #title_section_lista{
                flex-basis: 100%;
            }
            #modal {
                display: none;
                position: fixed;
                z-index: 3;
                padding-top: 100px;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgb(0, 0, 0);
                background-color: rgba(0, 0, 0, 0.9);
                cursor: pointer;
            }
            
            
            .modal-content {
                position: fixed;
                cursor:initial;
                background-color: white;
                z-index: 4;
                margin: auto;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                width: 80%;
                height: 88%; 
                display: none;
                top: 6%;
                left: 10%;
                animation-name: modal-open ;
                animation-duration: 300ms;
                animation-timing-function: linear;
                #image-title-modal{
                    width: 97%;
                    margin: 20px;
                    img{
                        width: 100%;
                        max-height: 500px;
                        box-shadow: 0px 0px 5px black;
                    }
                    h1{
                        text-align: center;
                        margin-top: 20px;
                        text-shadow: 0px 0px 30px black;
                    }
                    h4{
                        text-align: center;
                    }
                }
                #body-info-modal{
                    width: 95%;
                    margin: 20px ;
                    h2{
                        margin-top: 0px;
                        text-shadow: 0px 0px 30px black;
                    }
                    ul{
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                    }
                    p{
                        text-align: justify;
                        margin-right: 10px;
                    }
                }
    
            } 
    
            
            .close {
                position: absolute;
                top: 15px;
                right: 35px;
                color: #f1f1f1;
                font-size: 40px;
                font-weight: bold;
                transition: 0.3s;
            }
            
            .close:hover,
            .close:focus {
                color: #bbb;
                text-decoration: none;
                cursor: pointer;
            }
            
    
        }
        #section_lista{
            flex-basis: 100%;
            display: flex;
            min-height: 223px;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 3%;
            .card{
                flex-basis: 19%;
                margin: 6px;
                
            }
        }

        
        .card{
            flex-basis: 12%;
            max-height: 500px;
            margin-top:50px ;
            width: 100%;
            cursor: pointer;
            border-radius: 10px;
            
            transition: all 300ms;
            img{
                width: 100%;
                border-radius: 10px;
            }
            .card-body{
                text-align: center;
                .card-title{
                    min-height: 50px;   
                }
                .card-text{
                    opacity: 0.5;
                }
                span{
                    display: none;
                    width: 100%;
                    transition: all 300ms;
                }
            }
            .btn {
                background-color: $color-principal;
            }
        }
        .card:hover{
            .card-body{
                span{
                    background-color: black;
                    color: white;
                    display: block;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    position: absolute;
                    transition: all 300ms;
                    opacity: 0.2;
                }
            }
            margin: 0;
            transform: scale(1.1);
            z-index: 2;
            box-shadow: 0px 0px 100px black;
        }
        
    }
    #footer{
        font-family: "WebSymbolsRegular";
        background-color: $color-principal;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        height: 90px;
        align-items: center;
        justify-content:flex-end ;
        padding-left: 50px;
        padding-right: 50px;
        // position: fixed; 
        // bottom: 0;
        font-size: 50px;
        div{
            margin-left: 5px;
            margin-right: 5px;
            display: block;
            color: white;
        }
    }
}



@media (max-width: 575px) {
      .row {
        display: grid;
        .col {
          float: left;
          width: 90%;
          padding: 5% 0%;
        }
      }
    }
  