//Animaciones
@import './animations.scss';
//Fuentes
@import './fuentes.scss';



*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #fae6b1;
    width: 100%;
    #header{
        background-color: #31525b;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        height: 90px;
        align-items: center;
        justify-content:space-between ;
        padding-left: 50px;
        padding-right: 50px;
        #logo{
            font-family: "WebSymbolsRegular";
            font-size: 50px;
            color: white;
            height: 90%;
            flex-basis: 15%;
            border-radius: 50px;
            transition: all 300ms;
            .gear{
                display: block;
                float: left;
                animation-name: rotate-gear ;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
        }
        
            #menu{
                flex-basis: 80%;
                display: flex;
                flex-direction: row;
                align-items:center;
                list-style: none;
                justify-content: flex-end;
                margin: 0;
                li{
                    padding: 10px;
                    a{
                        background-color: #ffa101;
                        color: white;
                        padding: 10px 20px;
                        text-decoration: none;
                        display: block;
                        border-radius: 10px;
                        font-size: 20px;
                        transition: all 300ms;
                    }
                    a:hover{
                        transform: scale(1.2);
                        box-shadow: 0px 0px 5px black;
                    }
            }
        }   
    }
    #main{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 95%;
        align-items: center;
        margin: 10px 50px;
        #section_buscar{
            flex-basis: 100%;
            margin: 25px auto;
            h1{
                font-size: 50px;
            }
            form{
                display: flex;
                flex-wrap: wrap;
                width:40%;

                label{
                    flex-basis: 1%;
                    font-family: "WebSymbolsRegular";
                    margin: 7px;
                    position:absolute;
                    left: 60px;
                }
                input{
                    flex-basis: 95%;
                    margin: 1px;
                    border: none;
                    border-radius: 20px;
                    height: 40px;
                    padding-left: 40px;
                    padding-bottom: 5px;
                    font-size: 20px;
                    transition: all 300ms;
                }
                input:focus{
                    border: none;
                    
                    
                    outline: none;
                    box-shadow: 0px 0px 5px black;
                }
                button{
                    flex-basis: 95%;
                    margin-top: 10px;
                    border-radius: 15px;
                    background-color: #31525b;
                    border: none;
                    transition: all 300ms;
                }
                button:hover{
                    transform: scale(1.05);
                    box-shadow: 1px 1px 20px white ;
                }
            }
        }
        #section_lista{
            flex-basis: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 10%;
            .card{
                flex-basis: 12%;
                max-height: 500px;
                margin-top:50px ;
                width: 100%;
                transition: all 300ms;
                img{
                    width: 100%;
                }
                .card-body{
                    .card-title{
                        min-height: 50px;
                    }
                }
            }
            .card:hover{
                transform: scale(1.1);
                box-shadow: 0px 0px 10px black;
            }
        }

    }
    #footer{
        font-family: "WebSymbolsRegular";
        background-color: #31525b;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        height: 90px;
        align-items: center;
        justify-content:flex-end ;
        padding-left: 50px;
        padding-right: 50px;
        position: fixed; 
        bottom: 0;
        font-size: 50px;
        div{
            margin-left: 5px;
            margin-right: 5px;
            display: block;
            color: white;
        }
    }
}

